@model NewMasterDetailFaculty.Models.Faculty

@using (Html.BeginForm("Create", "Faculty", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
        <h3 class="text-center text-primary">Faculty Part</h3>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <table class="table table-borderless table-primary">
            <tr>
                <td>
                    @Html.LabelFor(model => model.FacultyName)
                    @Html.EditorFor(model => model.FacultyName, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.LabelFor(model => model.PhoneNumber)
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CourseName)
                    @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.LabelFor(model => model.CourseStartDate)
                    @Html.EditorFor(model => model.CourseStartDate, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td>
                    <label>Profile Picture</label>
                    <input type="file" name="Picture" class="form-control" accept="image/*" required />
                </td>
                <td>
                    @Html.EditorFor(model => model.IsRunning, new { htmlAttributes = new { @class = "form-check-input" } })
                    @Html.LabelFor(model => model.IsRunning, htmlAttributes: new { @class = "form-label" })
                </td>
            </tr>
        </table>

        <div class="card  p-3 mb-3">
            <h3 class="card-title text-center text-secondary">Student Part</h3>
            <div class="row mb-3">
                <div class="d-none">
                    @Html.Label("sId", "ID", htmlAttributes: new { @class = "input-group-text" })
                    @Html.TextBox("sId", null, new { @class = "form-control" })
                </div>
                <div class="d-none">
                    @Html.Label("sName", "Name", htmlAttributes: new { @class = "input-group-text" })
                    @Html.TextBox("sName", null, new { @class = "form-control" })
                </div>
                <div class="d-none">
                    @Html.Label("sAddress", "Address", htmlAttributes: new { @class = "input-group-text" })
                    @Html.TextBox("sAddress", null, new { @class = "form-control" })
                </div>
                <div class="form-group d-flex justify-content-end">
                    <input type="button" class="btn  btn-primary" id="addBtn" value="Add Student" />
                </div>

            </div>
            <table class="table table-danger">
                <tbody id="studentTable">
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-lg btn-primary" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/MyJS/Student.js"></script>
}
